In [66]:
import pandas as pd
import os

In [67]:

data_folder = '/Users/calvindechicago/PycharmProjects/AltaWork/teaching-colleagues/Counts/Counts/Count Reports 6-17-19'
test_file = os.path.join(data_folder, "1 LICK MILL BLVD & TASMAN DR.xls")

In [68]:
df = pd.read_excel(test_file, sheet_name="Vehicles", header=9)

In [69]:
# Make a variable that will hold the total across all "Peds" columns
running_total = 0

# Get a list of all "Peds" column names
ped_cols = [x for x in df.columns if "Peds" in x]

In [70]:
for col in ped_cols:
    col_total = df[col].sum()
    
    print(col)

    running_total += col_total
        
print(running_total)

Peds
Peds.1
Peds.2
Peds.3
542

In [71]:
df.columns = df.columns.str.lower().str.replace(' ','_')

In [72]:
print(df.columns)

Index(['start_time', 'right', 'thru', 'left', 'peds', 'right.1', 'thru.1',
       'left.1', 'peds.1', 'right.2', 'thru.2', 'left.2', 'peds.2', 'right.3',
       'thru.3', 'left.3', 'peds.3'],
      dtype='object')

In [73]:
print(df['start_time'])

0     05:00 AM
1     05:15 AM
2     05:30 AM
3     05:45 AM
4     06:00 AM
        ...
63    08:45 PM
64    09:00 PM
65    09:15 PM
66    09:30 PM
67    09:45 PM
Name: start_time, Length: 68, dtype: object

In [74]:
df['start_time'] = pd.to_datetime(df.start_time)

In [75]:
#Set Beginning and End for 4 different time buckets
tba1 = pd.to_datetime('05:00')
tba2 = pd.to_datetime('09:30')
#==================
tbb1 = pd.to_datetime('09:31')
tbb2 = pd.to_datetime('13:00')
#==================
tbc1 = pd.to_datetime('13:01')
tbc2 = pd.to_datetime('17:00')
#==================
tbd1 = pd.to_datetime('17:01')
tbd2 = pd.to_datetime('23:59')

In [76]:
tba1.hour

5

In [93]:

timebucket1 = df.loc[(df.start_time >= tba1) & (df.start_time <= tba2)]
timebucket2 = df.loc[(df.start_time >= tbb1) & (df.start_time <= tbb2)]
timebucket3 = df.loc[(df.start_time >= tbc1) & (df.start_time <= tbc2)]
timebucket4 = df.loc[(df.start_time >= tbd1) & (df.start_time <= tbd2)]
alltb = (timebucket1,timebucket2, timebucket3, timebucket4)

In [89]:
#First example creates a series. Second example creates a dataframe 
timebucket1 = (df.start_time >= tba1) & (df.start_time <= tba2)
timebucket2 = df.loc[(df.start_time >= tbb1) & (df.start_time <= tbb2)]
print(type(timebucket1))
print(timebucket1)
print("==================================================")
print(type(timebucket2))
print(timebucket2)

<class 'pandas.core.series.Series'>
0      True
1      True
2      True
3      True
4      True
      ...
63    False
64    False
65    False
66    False
67    False
Name: start_time, Length: 68, dtype: bool
==================================================
<class 'pandas.core.frame.DataFrame'>
            start_time  right  thru  left  peds  right.1  thru.1  left.1  \
19 2019-09-11 09:45:00      1     0     0     3        4     184      27
20 2019-09-11 10:00:00      1     1     2     5        3     171      26
21 2019-09-11 10:15:00      0     1     0     2        4     152      33
22 2019-09-11 10:30:00      1     0     0     2        3      94      37
23 2019-09-11 10:45:00      1     0     2     2        0      63      23
24 2019-09-11 11:00:00      0     1     1     0        2      60      24
25 2019-09-11 11:15:00      0     0     1     2        2      53      26
26 2019-09-11 11:30:00      0     3     1     1        2      81      39
27 2019-09-11 11:45:00      1     1     0     3        0      79      31
28 2019-09-11 12:00:00      2     3     1     8        2     103      38
29 2019-09-11 12:15:00      1     3     5     6        3      76      38
30 2019-09-11 12:30:00      0     0     4     2        1      82      38
31 2019-09-11 12:45:00      0     3     7     3        3      68      36
32 2019-09-11 13:00:00      3     3     3     4        8      78      45

    peds.1  right.2  thru.2  left.2  peds.2  right.3  thru.3  left.3  peds.3
19       0       80       5      72       2        8      79       4       2
20       1       54       6      72       4       14      43       2       3
21       0       51       7      71       1       26      63       3       1
22       0       41       3      35       2       42      62       5       0
23       1       34       3      31       1       41      50       2       2
24       0       35       4       3       1       16      52       1       1
25       0       36       3      17       2       22      52       0       0
26       0       35       1      28       1       21      65       2       0
27       2       38       0      17       1       24      70       4       3
28       2       45       2      19       1       24      58       6       2
29       0       36       0      19       2       32      86       8       1
30       0       29       2      15       2       22      83       3       3
31       1       69       3      18       0       24      87       4       1
32       1       45       0      23       2       27      89       3       2

In [94]:
ped_cols = []

for x in alltb:
    for y in f'{x}'.columns:
         if "Peds" in y:
            ped_cols.append(y)

AttributeError: 'str' object has no attribute 'columns'

In [93]:
timebucket2 = df.loc[(df.start_time >= tbb1)]
type(timebucket2)
print(timebucket2)

            start_time  right  thru  left  peds  right.1  thru.1  left.1  \
19 2019-09-10 09:45:00      1     0     0     3        4     184      27
20 2019-09-10 10:00:00      1     1     2     5        3     171      26
21 2019-09-10 10:15:00      0     1     0     2        4     152      33
22 2019-09-10 10:30:00      1     0     0     2        3      94      37
23 2019-09-10 10:45:00      1     0     2     2        0      63      23
24 2019-09-10 11:00:00      0     1     1     0        2      60      24
25 2019-09-10 11:15:00      0     0     1     2        2      53      26
26 2019-09-10 11:30:00      0     3     1     1        2      81      39
27 2019-09-10 11:45:00      1     1     0     3        0      79      31
28 2019-09-10 12:00:00      2     3     1     8        2     103      38
29 2019-09-10 12:15:00      1     3     5     6        3      76      38
30 2019-09-10 12:30:00      0     0     4     2        1      82      38
31 2019-09-10 12:45:00      0     3     7     3        3      68      36
32 2019-09-10 13:00:00      3     3     3     4        8      78      45
33 2019-09-10 13:15:00      3     0     3     7        4      77      31
34 2019-09-10 13:30:00      1     2     3     2        7      50      36
35 2019-09-10 13:45:00      1     0     2     2        1      71      28
36 2019-09-10 14:00:00      1     2     2     0        3      50      35
37 2019-09-10 14:15:00      1     1     2     2        5      54      46
38 2019-09-10 14:30:00      2     3     2     3        0      53      39
39 2019-09-10 14:45:00      2     3     1     6        4      55      43
40 2019-09-10 15:00:00      1     1     4     4        2      62      38
41 2019-09-10 15:15:00      0     1     0     2        0      68      34
42 2019-09-10 15:30:00      2     3     4     0        0      60      35
43 2019-09-10 15:45:00      0     2     1     1        1      57      37
44 2019-09-10 16:00:00      3     7     6     1        2      74      32
45 2019-09-10 16:15:00      4     3     4     7        2     109      45
46 2019-09-10 16:30:00      2     3     2     1        2     109      30
47 2019-09-10 16:45:00      2     4     5     4        3     124      66
48 2019-09-10 17:00:00      4     6     6     3        2     133      78
49 2019-09-10 17:15:00      1     5     2     5        2     143      67
50 2019-09-10 17:30:00      3     3     4     5        2     161      90
51 2019-09-10 17:45:00      0     4     5     4        0     119      65
52 2019-09-10 18:00:00      2     4     6     4        2     137      68
53 2019-09-10 18:15:00      0     4     4     5        0      99      67
54 2019-09-10 18:30:00      1     6     0     6        1     102      69
55 2019-09-10 18:45:00      0     5     4     3        0      83      55
56 2019-09-10 19:00:00      2     2     2     4        1      73      45
57 2019-09-10 19:15:00      2     1     4     5        1      59      45
58 2019-09-10 19:30:00      3     1     2     0        1      47      36
59 2019-09-10 19:45:00      0     3     2     6        2      45      57
60 2019-09-10 20:00:00      2     1     5     3        1      29      47
61 2019-09-10 20:15:00      2     3     2     3        0      48      40
62 2019-09-10 20:30:00      0     1     3     4        0      42      42
63 2019-09-10 20:45:00      0     0     1     3        0      51      26
64 2019-09-10 21:00:00      0     1     2     0        0      44      27
65 2019-09-10 21:15:00      0     1     0     2        1      42      23
66 2019-09-10 21:30:00      0     0     0     2        0      33      26
67 2019-09-10 21:45:00      1     0     0     1        0      25      27

    peds.1  right.2  thru.2  left.2  peds.2  right.3  thru.3  left.3  peds.3
19       0       80       5      72       2        8      79       4       2
20       1       54       6      72       4       14      43       2       3
21       0       51       7      71       1       26      63       3       1
22       0       41       3      35       2       42      62       5       0
23       1       34       3      31       1       41      50       2       2
24       0       35       4       3       1       16      52       1       1
25       0       36       3      17       2       22      52       0       0
26       0       35       1      28       1       21      65       2       0
27       2       38       0      17       1       24      70       4       3
28       2       45       2      19       1       24      58       6       2
29       0       36       0      19       2       32      86       8       1
30       0       29       2      15       2       22      83       3       3
31       1       69       3      18       0       24      87       4       1
32       1       45       0      23       2       27      89       3       2
33       2       45       0      12       1       27     100       4       2
34       0       44       1      16       0       36      82       1       4
35       0       50       1      14       3       23      78       3       2
36       1       38       2      10       2       27      80       3       0
37       0       36       2      20       1       21     119       1       1
38       0       55       2      21       2       48     106       3       0
39       5       62       0       9       1       62     123       5       8
40       0       32       1      13       0       51     119       1       2
41       1       35       1      16       3       52     151       3       1
42       0       35       1      20       3      102     166       5       2
43       0       53       0       8       1       74     172       2       2
44       0       30       0      14       2      106     214       2       0
45       2       46       2      11       2      132     256       1       3
46       0       41       0      11       4       94     275       1       3
47       0       60       0      14       0      109     380       4       0
48       0       51       0      10       3       91     261       2       2
49       0       63       2      26       3      130     317       3       3
50       0       70       0      18       6      124     333       5       3
51       2       77       0      20       4      106     335       2       0
52       0       65       0      19       3      116     359       3       1
53       3       69       0      15       1      113     303       1       2
54       1       46       2      11       2       87     269       2       2
55       0       63       0      10       2       64     226       0       3
56       0       44       0       7       6       57     153       1       3
57       1       51       0      18       0       55     119       0       2
58       0       43       0       8       1       47     115       3       2
59       0       56       0      14       4       35     102       5       3
60       0       48       1      12       0       30      59       2       2
61       0       59       0       6       9       28      67       1       3
62       0       49       0       8       2       25      82       2       2
63       0       29       0       9       5       24      74       0       0
64       0       41       1       7       0       19      74       2       0
65       0       39       0       4       1       19      53       0       2
66       0       35       0       5       4       22      45       2       1
67       0       20       0       5       0       13      38       1       1

In [31]:
ped_cols = [x for x in timebucket1.columns if "peds" in x]
ped_cols

['peds', 'peds.1', 'peds.2', 'peds.3']

In [17]:
type(timebucket1)
print(timebucket1)

0      True
1      True
2      True
3      True
4      True
      ...
63    False
64    False
65    False
66    False
67    False
Name: start_time, Length: 68, dtype: bool

In [14]:
timebucket2.columns

Index(['start_time', 'right', 'thru', 'left', 'peds', 'right.1', 'thru.1',
       'left.1', 'peds.1', 'right.2', 'thru.2', 'left.2', 'peds.2', 'right.3',
       'thru.3', 'left.3', 'peds.3'],
      dtype='object')

In [17]:
for col in ped_cols:
    col_total = df[col].sum()
    
    print(col)

    running_total += col_total
        
print(running_total)

542

In [32]:
for col in ped_cols:
    col_total = timebucket1[col].sum()
    
    print(col)

    running_total += col_total
        
print(running_total)

peds
peds.1
peds.2
peds.3
172

In [19]:
running_total = 0